<section id="header">
  <app-header></app-header>
</section>
<section id="partners" class="section">
  <app-partners></app-partners>
</section>
<section id="form" class="section">
  <app-form></app-form>
</section>
<section id="solutions" class="section">
  <app-solutions></app-solutions>
</section>
<section id="details" class="section">
  <app-details></app-details>
</section>
<section id="expertise" class="section">
  <app-expertise></app-expertise>
</section>
<section id="pricing" class="section">
  <app-pricing></app-pricing>
</section>
<section id="projects" class="section">
  <app-projects></app-projects>
</section>
<section id="news" class="section">
  <app-news-letter></app-news-letter>
</section>
