<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
  <div class="container">
    <a class="navbar-brand">
      <img src="../../../assets/images/logo.svg" alt="" width="100" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            fragment="header"
            routerLink="/"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home/solutions" fragment="solutions"
            >Solutions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="details" routerLink="home/details"
            >Details</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="expertise" routerLink="home/expertise"
            >Expertise</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="pricing" routerLink="home/pricing"
            >Pricing</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="projects" routerLink="home/projects"
            >Projects</a
          >
        </li>
      </ul>
      <span class="nav-item">
        <span class="fa-stack">
          <a href="https://facebook.com" target="_blank">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x text-white"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a href="https://twitter.com" target="_blank">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x text-white"></i>
          </a>
        </span>
      </span>
    </div>
  </div>
</nav>
