<section class="partners py-4 overflow-hidden mt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h6 class="text-center mb-4 text-uppercase">Our Partners</h6>
        <div class="d-flex justify-content-center align-itmes-cent text-center">
          <div class="">
            <img
              class="mx-4"
              src="../../../assets/images/partner-logo-1.png"
              alt=""
            />
          </div>
          <div class="d-none d-sm-block">
            <img
              class="mx-4"
              src="../../../assets/images/partner-logo-2.png"
              alt=""
            />
          </div>
          <div class="d-none d-md-block">
            <img
              class="mx-4"
              src="../../../assets/images/partner-logo-3.png"
              alt=""
            />
          </div>
          <div class="d-none d-lg-block">
            <img
              class="mx-4"
              src="../../../assets/images/partner-logo-4.png"
              alt=""
            />
          </div>
          <div class="d-none d-lg-block">
            <img
              class="mx-4"
              src="../../../assets/images/partner-logo-5.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
