<section class="my-6">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <div class="position-relative">
          <img
            src="../../../assets/images/video-preview.jpg"
            alt=""
            class="img-fluid"
          />
          <a
            class="video-btn"
            data-bs-toggle="modal"
            data-bs-target="#videoModal"
            data-bs-src="https://www.youtube.com/embed/u72H_zZzkcw"
          >
            <span class="video-play-button">
              <span></span>
            </span>
          </a>
          <div class="video-overlay"></div>
        </div>
      </div>
    </div>
    <div class="row video-points px-6 mt-5">
      <div class="col-lg-4">
        <h4 class="fw-bold">10 Years Of Experience</h4>
        <p>
          With over 10 years of experience, we have gained valuable insights and
          expertise to deliver high-quality software solutions
        </p>
      </div>
      <div class="col-lg-4">
        <h4 class="fw-bold">Enduring Partnerships</h4>
        <p>
          We believe in building enduring partnerships with our clients. We
          establish long-term relationships based on trust
        </p>
      </div>
      <div class="col-lg-4">
        <h4 class="fw-bold">Skilled Capable Team</h4>
        <p>
          Our team consists of skilled and capable professionals who are
          passionate about delivering excellence
        </p>
      </div>
    </div>
  </div>
</section>
