@media (max-width: 992px) {
  .video-points {
    padding: 0 !important;
    text-align: center;
  }
  .video-points .col-lg-4 {
    margin-bottom: 20px;
  }
}

// Video play button
// Animated

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  // belongs to the parent
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
}
.video-play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  animation: pulse-border 1500ms ease-in-out infinite;
}
.video-play-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}
// *Triangle
.video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  // Draw button
  border-left: 26px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}
